<!--The content below is only a placeholder and can be replaced.-->
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <md-toolbar>
      <span class="menu-title">Main menu</span>
      <button md-icon-button (click)="sidenav.close()"><md-icon>arrow_back</md-icon></button>
    </md-toolbar>
    <md-nav-list>
      <a md-list-item routerLink="home" (click)="sidenav.close()">Home</a>
      <a md-list-item routerLink="issues" (click)="sidenav.close()">Issues</a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
    <span>Project X</span>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>




